button.btn.main {
  float: right;
}
.URLList td button.btn {
  horizontal-align: middle;
  display: block;
  margin: auto;
}

.warningCell {
  /*background-color: orange;*/
  color: orange;
}
.errorCell {
  /*background-color: #db4e44;*/
  color: #ed3d1a;
}
.table-bordered td.updating:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
  color: red;
  font-size: 150%;
}
.rolex-experience {
  color: #07bb07;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

.clear {
  clear: both;
}
/*
Only works if table layout is fixed - but then the bootstrap table is not really as expected
table th.comment {
  width: 400px;
}
*/
.changesTodoForm {
  display: inline-block;
  width: 110px;
}

.loginMenu {
  width: 250px;
}
.userLinks {
  margin-left: 10px;
  padding-left: 20px;
  border-left: 1px solid #444;
}
